.navbar-container{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #448787;
}

.navbar-con{
  display: flex;
  height: 100%;
  align-items: center;
}

.img-container .img-src {
  margin-left: 15px;
  height: auto;
  width: 50px;
  cursor: pointer;
}

.navbar-ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left:30px;
}

.navbar-li {
  list-style: none;
  margin-left: 15px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
}

.navbar-auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right:70px ;
}

.navbar-li-auth{
  list-style: none;
  margin-left: 15px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar-li:hover, .navbar-li-auth:hover{
  padding: 5px;
  border: 1px solid whitesmoke;
  border-radius: 10%;
}