.san-hero{
  height: 250px;
  width: 100%;
  border: 1px solid black;
  background-color: blue;
}

.san-nav{
  display: flex;
  margin-top: 10px;
  margin-left: 80%;
  height: 40px;
  width: 20%;
}

.san-button{
  height: 35px;
  width: 120px;
  margin-left: 10px;
  background-color: skyblue;
  border: 1px solid transparent;
  border-radius: 3%;
}

.san-button:hover{
  border: 1px solid black;
  background-color: silver;
  cursor: pointer;
}
.san-tagDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.san-tag{
  border: 1px solid white;
  display: flex;
  height: 50px;
  width: 400px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: white;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}