.san-container{
  height: 200px;
  width: 100%;
}

.san-container2{
  height: 200px;
  width: 100%;
  margin-top: 10px;
}

.san-h5{
  font-size: larger;
  margin-left: 10px;
}

.san-car-container{
  display: flex;
  height: 180px;
  width: 100%;
  margin-top: 10px;
}

.san-car{
  height: 100%;
  width: 240px;
  text-align: center;
}

.san-img{
  height: 130px;
  width: auto;
  border-radius: 5px;
  padding: 10px;
  background-color: gray;
}

.san-para{
  font-size: large;
}